Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android

build-server:
  stage: build
  image: rikorose/gcc-cmake
  script:
  - cd server && ./build.sh

build-desktop:
  stage: build
  image: gradle:jdk12
  script:
  - cd desktop && gradle build

build-android:
  stage: build
  image: thyrlian/android-sdk
  script:
  - cd android && gradle build

test-server:
  stage: test
  image: rikorose/gcc-cmake
  script:
  - cd server && echo "TODO"

test-desktop:
  stage: test
  image: gradle:jdk12
  script:
  - cd desktop && gradle test

test-android:
  stage: test
  image: thyrlian/android-sdk
  script:
  - cd android && gradle test

lint from merge with master
  desktop/.idea/misc.xml
  desktop/src/main/java/constants/ServerUrls.java
  desktop/src/main/java/controllers/Application.java
Due: build-desktop, test-desktop

add tests to project
  .gitmodules
  server/CMakeLists.txt
  server/tests/CMakeLists.txt
  server/tests/example_test.cc
Due: build-server, test-server

make tests pass
  server/tests/example_test.cc
Due: build-server, test-server

tmp
  .gitmodules
  server/CMakeLists.txt
  server/miner/CMakeLists.txt
  server/miner/include/example.h
  server/miner/miner.cc
  server/miner/src/example.cc
  server/rest/CMakeLists.txt
Due: build-server, test-server

Working Linter
  android/app/build.gradle
  android/build.gradle
  android/ktlint.gradle
  android/lint.sh
  init.sh
Due: build-android, test-android

Fixed Linting errors
  android/app/src/main/java/com/example/androidapp/MainActivity.kt
Due: build-android, test-android

Changed error message for android_ndk_home
  android/lint.sh
Due: build-android, test-android

version java
  desktop/.idea/misc.xml
Due: build-desktop, test-desktop

add one miner and libzmq
  .gitmodules
  server/CMakeLists.txt
  server/build.sh
  server/miner/CMakeLists.txt
  server/miner/miner.cc
Due: build-server, test-server

change cc to cpp and add miner.cpp
  server/common/CMakeLists.txt
  server/common/include/common/example.hpp
  server/common/src/example.cpp
  server/miner/CMakeLists.txt
  server/miner/include/example.h
  server/miner/include/example.hpp
  server/miner/miner.cc
  server/miner/miner.cpp
  server/miner/src/example.cc
  server/miner/src/example.cpp
  server/rest/CMakeLists.txt
  server/rest/include/example.hpp
  server/rest/rest.cc
  server/rest/rest.cpp
  server/rest/src/example.cpp
  server/tests/CMakeLists.txt
  server/tests/example_test.cpp
Due: build-server, test-server

ci: setup base docker image for all build
  docker/Dockerfile
Due: none

ci: use single docker image for all build
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android

make miner/rest talk
  server/miner/miner.cpp
  server/rest/rest.cpp
Due: build-server, test-server

fin version proto
  server/miner/miner.cpp
  server/rest/rest.cpp
Due: build-server, test-server

java 12
  desktop/.idea/misc.xml
Due: build-desktop, test-desktop

temp
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android

Kin toer
  android/ktlint.gradle
Due: build-android, test-android

Merci Frank d'avoir revise ma pr
  android/lint.sh
  init.sh
Due: build-android, test-android

ci: use artifacts rather than cache
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android

Change app colors to go with app photo, delete unused mipmap files.
  android/app/src/main/java/com/example/androidapp/App.kt
  android/app/src/main/java/com/example/androidapp/BasePresenter.kt
  android/app/src/main/java/com/example/androidapp/BaseView.kt
  android/app/src/main/java/com/example/androidapp/di/Modules.kt
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/MainContract.kt
  android/app/src/main/java/com/example/androidapp/ui/MainPresenter.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/mipmap-anydpi-v26/clasbook.xml
  android/app/src/main/res/mipmap-anydpi-v26/clasbook_round.xml
  android/app/src/main/res/mipmap-hdpi/clasbook.png
  android/app/src/main/res/mipmap-hdpi/clasbook_foreground.png
  android/app/src/main/res/mipmap-hdpi/clasbook_round.png
  android/app/src/main/res/mipmap-mdpi/clasbook.png
  android/app/src/main/res/mipmap-mdpi/clasbook_foreground.png
  android/app/src/main/res/mipmap-mdpi/clasbook_round.png
  android/app/src/main/res/mipmap-xhdpi/clasbook.png
  android/app/src/main/res/mipmap-xhdpi/clasbook_foreground.png
  android/app/src/main/res/mipmap-xhdpi/clasbook_round.png
  android/app/src/main/res/mipmap-xxhdpi/clasbook.png
  android/app/src/main/res/mipmap-xxhdpi/clasbook_foreground.png
  android/app/src/main/res/mipmap-xxhdpi/clasbook_round.png
  android/app/src/main/res/mipmap-xxxhdpi/clasbook.png
  android/app/src/main/res/mipmap-xxxhdpi/clasbook_foreground.png
  android/app/src/main/res/mipmap-xxxhdpi/clasbook_round.png
  android/app/src/main/res/values/colors.xml
Due: build-android, test-android

Ajout de koin library for dependency injection.
  android/app/build.gradle
  android/app/src/main/java/com/example/androidapp/BasePresenter.kt
  android/build.gradle
Due: build-android, test-android

Reorganize files with ui repository, di repository and app.kt file.
  android/app/src/main/java/com/example/androidapp/App.kt
  android/app/src/main/java/com/example/androidapp/BaseView.kt
  android/app/src/main/java/com/example/androidapp/di/Modules.kt
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/MainContract.kt
  android/app/src/main/java/com/example/androidapp/ui/MainPresenter.kt
Due: build-android, test-android

include all ./idea files in gitignore.
  android/.gitignore
  android/app/src/main/home-web.png
  android/app/src/main/java/com/example/androidapp/ui/MainContract.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/HttpRestClient.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestServiceModule.kt
  android/app/src/main/res/drawable-hdpi/ic_home.png
  android/app/src/main/res/drawable-hdpi/ic_menu.png
  android/app/src/main/res/drawable-hdpi/ic_settings.png
  android/app/src/main/res/drawable-mdpi/ic_home.png
  android/app/src/main/res/drawable-mdpi/ic_menu.png
  android/app/src/main/res/drawable-mdpi/ic_settings.png
  android/app/src/main/res/drawable-xhdpi/ic_home.png
  android/app/src/main/res/drawable-xhdpi/ic_menu.png
  android/app/src/main/res/drawable-xhdpi/ic_settings.png
  android/app/src/main/res/drawable-xxhdpi/ic_home.png
  android/app/src/main/res/drawable-xxhdpi/ic_menu.png
  android/app/src/main/res/drawable-xxhdpi/ic_settings.png
  android/app/src/main/res/drawable-xxxhdpi/ic_home.png
  android/app/src/main/res/drawable-xxxhdpi/ic_menu.png
  android/app/src/main/res/drawable-xxxhdpi/ic_settings.png
  android/app/src/main/res/drawable/home_foreground.xml
  android/app/src/main/res/layout/nav_header.xml
  android/app/src/main/res/menu/toolbar.xml
  android/app/src/main/res/xml/preferences.xml
Due: build-android, test-android

Add mvp architecture logic with Koin dependency framework (aka modules). Separate HTTP logic from view and and coroutine management. Add navigation bar to mainActivity.
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/clasbook-web.png
  android/app/src/main/classbook-web.png
  android/app/src/main/home-web.png
  android/app/src/main/java/com/example/androidapp/App.kt
  android/app/src/main/java/com/example/androidapp/di/Modules.kt
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/MainContract.kt
  android/app/src/main/java/com/example/androidapp/ui/MainController.kt
  android/app/src/main/java/com/example/androidapp/ui/MainPresenter.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/HttpRestClient.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestServiceModule.kt
  android/app/src/main/res/drawable/home_foreground.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/nav_header.xml
  android/app/src/main/res/menu/toolbar.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/xml/preferences.xml
Due: build-android, test-android

add chmod
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android

Change var names to camelCase.
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestRequestService.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/menu/toolbar.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

Upgrade gradle to 5.4.1 and other minor errors.
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/App.kt
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/MainContract.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/HTTPRestClient.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestServiceModule.kt
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
Due: build-android, test-android

test
  android/app/src/main/java/com/example/androidapp/ui/rest/RestRequestService.kt
Due: build-android, test-android

fix clang version
  .gitlab-ci.yml
  server/lint.sh
  server/src/rest_server.cc
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android

force clang 8
  server/lint.sh
Due: build-server, test-server

prep to merge
  .gitlab-ci.yml
  .gitmodules
  android/app/build.gradle
  android/app/src/main/java/com/example/androidapp/MainActivity.kt
  android/build.gradle
  desktop/.idea/misc.xml
  desktop/build.gradle
  desktop/src/main/java/Main.java
  desktop/src/main/java/constants/ServerUrls.java
  desktop/src/main/java/controllers/Application.java
  server/CMakeLists.txt
  server/build.sh
  server/common/CMakeLists.txt
  server/common/include/common/example.hpp
  server/common/src/example.cpp
  server/miner/CMakeLists.txt
  server/miner/include/example.hpp
  server/miner/miner.cpp
  server/miner/src/example.cpp
  server/rest/CMakeLists.txt
  server/rest/include/example.hpp
  server/rest/rest.cpp
  server/rest/src/example.cpp
  server/tests/CMakeLists.txt
  server/tests/example_test.cpp
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android

make miner/rest/common and test work with clang
  server/.clang-format
  server/.clang-tidy
  server/CMakeLists.txt
  server/common/include/common/message_helper.hpp
  server/common/src/example.cpp
  server/lint.sh
  server/miner/miner.cpp
  server/miner/src/example.cpp
  server/rest/rest.cpp
  server/rest/src/example.cpp
  server/tests/example_test.cpp
Due: build-server, test-server

ci: add ARMv7 build artifacts
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android

apply clang format
  server/lint.sh
  server/tests/example_test.cpp
Due: build-server, test-server

add fix to linter
  server/lint.sh
Due: build-server, test-server

wont start threads with wsl, try with ubuntu
  server/lint.sh
  server/rest/include/example.hpp
  server/rest/include/example_endpoint.hpp
  server/rest/rest.cpp
  server/rest/src/example.cpp
  server/rest/src/example_endpoint.cpp
Due: build-server, test-server

fin mineur simple
  server/miner/miner.cpp
  server/rest/include/example_endpoint.hpp
  server/rest/src/example_endpoint.cpp
Due: build-server, test-server

fix format
  server/common/include/common/example.hpp
  server/common/include/common/message_helper.hpp
  server/lint.sh
  server/miner/include/example.hpp
  server/rest/src/example_endpoint.cpp
Due: build-server, test-server

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
