Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

.gitlab-ci.yml:

image: gpol/inf3995

stages:
    - build
    - test
    - lint

cache:
    paths:
        - server/build
        - desktop/build
        - android/build

################
# Build Stages #
################

build-server:
    stage: build
    before_script:
        - mkdir -p server/build
    script:
        - cd server/build && cmake .. && make
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

build-server:armv7:
    stage: build
    before_script:
        - mkdir -p server/build
    script:
        - cd server/build && cmake .. -DBUILD_ARMV7=on && make
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

build-desktop:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle build
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml

build-android:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle build
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml

###############
# Test Stages #
###############

test-server:
    stage: test
    script:
        - cd server && echo "TODO"
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

test-desktop:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle test
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml

test-android:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle test
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml

###############
# Lint Stages #
###############

lint-server:
    stage: lint
    script:
        - cd server && chmod +x lint.sh && ./lint.sh tidy && ./lint.sh format
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

server/miner: add basic block test
  server/tests/CMakeLists.txt
  server/tests/block_test.cpp
  server/tests/example_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server/miner: fix linting issues
  server/.clang-tidy
  server/miner/include/miner/block.hpp
  server/miner/src/block.cpp
  server/tests/block_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: add picosha2 dependency
  server/cmake/third_party.cmake
Due: build-server, build-server:armv7, test-server, lint-server

server/miner: add basic block implementation
  server/miner/include/miner/block.hpp
  server/miner/src/block.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: add executable bit for lint.sh
  server/lint.sh
Due: build-server, build-server:armv7, test-server, lint-server

server: fix linting issues
  server/.clang-tidy
  server/common/include/common/firebase_helper.hpp
  server/miner/miner.cpp
  server/rest/rest.cpp
  server/rest/src/example_endpoint.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: remove all git modules
  .gitmodules
Due: none

server: cleanup target dependencies
  server/common/CMakeLists.txt
  server/miner/CMakeLists.txt
  server/rest/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

place init in common
  server/common/include/common/gflags_helper.hpp
  server/miner/miner.cpp
  server/rest/rest.cpp
Due: build-server, build-server:armv7, test-server, lint-server

make tidy work
  server/.clang-tidy
  server/common/include/common/gflags_helper.hpp
  server/common/include/common/models.hpp
  server/miner/miner.cpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/include/rest/file_controller.hpp
  server/rest/include/rest/info_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/transaction_controller.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/rest.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/file_controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

make format work
  server/rest/src/example_controller.cpp
  server/rest/src/file_controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

change tabs to spaces
  server/.clang-format
  server/common/include/common/firebase_helper.hpp
  server/lint.sh
  server/miner/miner.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/example_controller.cpp
  server/rest/src/file_controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix tabs vs spaces in function calls
  server/.clang-format
  server/common/include/common/firebase_helper.hpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/include/rest/example_controller.hpp
  server/rest/include/rest/info_controller.hpp
  server/rest/src/file_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix format
  server/miner/miner.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/info_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

add ssl support
  server/cmake/third_party.cmake
  server/rest/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

server/miner: fix formatting issues
  server/miner/src/block.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server/miner: namespace block class
  server/miner/include/miner/block.hpp
  server/miner/src/block.cpp
  server/tests/block_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

its working with postman now, but removing a check, its not compliant with chrome, I need to test with android and pc
  server/cert/client.crt
  server/cert/client.csr
  server/cert/client.key
  server/cert/rootCA.crt
  server/cert/rootCA.key
  server/cert/rootCA.srl
  server/cert/server.crt
  server/cert/server.csr
  server/cert/server.key
  server/rest/src/main_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: change Block constructor
  server/tests/block_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: add block ID in class
  server/miner/include/miner/block.hpp
  server/miner/src/block.cpp
  server/tests/block_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server/miner: update Block class definitions
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain.cpp
  server/tests/block_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

ci: setup test stage for server correctly
  .gitlab-ci.yml
  server/CMakeLists.txt
Due: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

multiple pages
  desktop/config/checkstyle/checkstyle.xml
  desktop/src/main/java/Main.java
  desktop/src/main/java/controllers/Login.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/views/Login.fxml
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

server: fix a crash when running under Ubuntu and GCC8
  server/miner/CMakeLists.txt
  server/tests/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

Add SQLite db, import in dockerfile and test file.
  docker/Dockerfile
  server/CMakeLists.txt
  server/cmake/FindSQLite3.cmake
  server/tests/CMakeLists.txt
  server/tests/database_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

ci: add sqlite3 and libsqlite3-dev packages in docker image
  docker/Dockerfile
Due: none

Fixed most of Franks comments
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/home/HomeViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/register/RegisterViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchViewModel.kt
Due: build-android, test-android

Changed strings from camelCase to snake_case
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/ui/fragments/home/HomeFragment.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/menu/toolbar.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

server: rename previous_hash_ to previousHash_
  server/miner/include/miner/block.hpp
  server/miner/src/block.cpp
Due: build-server, build-server:armv7, test-server, lint-server

Changed xml elements from camelCase to snake_case
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/res/layout/activity_main.xml
Due: build-android, test-android

fav button yay
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/MyStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentItem.kt
  android/app/src/main/res/drawable/ic_star_black_24dp.xml
  android/app/src/main/res/drawable/ic_star_border_black_24dp.xml
  android/app/src/main/res/layout/fragment_student.xml
  android/app/src/main/res/values/colors.xml
Due: build-android, test-android

log reader
  desktop/.idea/compiler.xml
  desktop/src/main/resources/logs.txt
  desktop/src/main/resources/views/TopMenuBar.fxml
  desktop/src/main/resources/views/application.fxml
Due: build-desktop, test-desktop

Fixed ktlint
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/MyStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
Due: build-android, test-android

Add database and sqlite_err class.
  server/common/CMakeLists.txt
  server/common/include/common/database.hpp
  server/common/include/common/sqlite_err.hpp
  server/common/src/database.cpp
  server/common/src/sqlite_err.cpp
  server/tests/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

tmp
  server/cert/cert.conf
  server/cert/cert.ext
  server/cert/client.crt
  server/cert/client.csr
  server/cert/client.key
  server/cert/createCert.sh
  server/cert/localhost.crt
  server/cert/localhost.csr
  server/cert/localhost.key
  server/cert/rootCA.srl
  server/cert/server.crt
  server/cert/server.csr
  server/cert/server.key
  server/rest/src/main_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

change line ending to 120
  server/.clang-format
  server/common/include/common/example.hpp
  server/common/include/common/firebase_helper.hpp
  server/common/include/common/message_helper.hpp
  server/common/include/common/models.hpp
  server/miner/include/miner/example.hpp
  server/miner/miner.cpp
  server/rest/include/rest/info_controller.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/example_controller.cpp
  server/rest/src/file_controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

working version with the lock on chrome
  server/cert/cert.conf
  server/cert/cert.ext
  server/cert/createCert.sh
  server/cert/localhost.crt
  server/cert/localhost.csr
  server/cert/localhost.key
  server/cert/rootCA.srl
  server/cert/server.crt
  server/cert/server.csr
  server/cert/server.key
  server/rest/include/rest/example_controller.hpp
  server/rest/src/example_controller.cpp
  server/rest/src/main_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

Fix clang format and errors.
  server/common/include/common/database.hpp
  server/common/include/common/sqlite_err.hpp
  server/common/src/database.cpp
  server/common/src/sqlite_err.cpp
Due: build-server, build-server:armv7, test-server, lint-server

Clang again fixes.
  server/.clang-tidy
  server/common/include/common/database.hpp
  server/common/include/common/sqlite_err.hpp
  server/common/src/database.cpp
  server/common/src/sqlite_err.cpp
  server/tests/database_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

change to constant tab number for json parsing
  server/common/include/common/models.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server
