Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

.gitlab-ci.yml:

image: gpol/inf3995

stages:
    - build
    - test
    - lint

cache:
    paths:
        - server/build
        - desktop/build
        - android/build

################
# Build Stages #
################

build-server:
    stage: build
    before_script:
        - mkdir -p server/build
    script:
        - cd server/build && cmake .. && make
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

build-server:armv7:
    stage: build
    before_script:
        - mkdir -p server/build
    script:
        - cd server/build && cmake .. -DBUILD_ARMV7=on && make
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

build-desktop:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle build
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml

build-android:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle build
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml

###############
# Test Stages #
###############

test-server:
    stage: test
    script:
        - cd server && echo "TODO"
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

test-desktop:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle test
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml

test-android:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle test
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml

###############
# Lint Stages #
###############

lint-server:
    stage: lint
    script:
        - cd server && chmod +x lint.sh && ./lint.sh tidy && ./lint.sh format
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

add lint todo
  server/lint.sh
Due: build-server, build-server:armv7, test-server, lint-server

fix warnings
  server/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

apply tidy fixes
  server/CMakeLists.txt
  server/common/src/example.cpp
  server/miner/miner.cpp
  server/rest/src/example_endpoint.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: don't build tests on ARMv7
  server/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

server: move project() after toolchain setup
  server/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

server: desactivate useless stuff in subprojects
  server/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

server/miner: link against pthreads
  server/miner/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

android: remove unwanted changes
  android/app/src/main/java/com/example/androidapp/MainActivity.kt
Due: build-android, test-android

fix tidy including common
  server/.clang-tidy
  server/common/include/common/example.hpp
  server/common/include/common/message_helper.hpp
  server/common/src/example.cpp
  server/miner/miner.cpp
  server/rest/include/example_endpoint.hpp
  server/rest/src/example_endpoint.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix it all baby
  server/miner/include/example.hpp
  server/miner/include/miner/example.hpp
  server/miner/src/example.cpp
  server/rest/include/example_endpoint.hpp
  server/rest/include/rest/example_endpoint.hpp
  server/rest/rest.cpp
  server/rest/src/example_endpoint.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix also format
  server/lint.sh
  server/tests/example_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

add cloud folder
  cloud/.firebaserc
  cloud/.gitignore
  cloud/firebase.json
  cloud/functions/.gitignore
  cloud/functions/package-lock.json
  cloud/functions/package.json
  cloud/functions/src/index.ts
  cloud/functions/tsconfig.json
  cloud/functions/tslint.json
Due: none

add documentation folder with rapport appel offres.
  documentation/Rapport_inf3995_Gr1.pdf
Due: none

Change gitignore.
  android/.gitignore
Due: build-android, test-android

finish server side get set server id
  .gitmodules
  server/CMakeLists.txt
  server/common/CMakeLists.txt
  server/common/include/common/firebase_helper.hpp
  server/common/include/common/message_helper.hpp
  server/miner/miner.cpp
  server/rest/include/rest/example_endpoint.hpp
  server/rest/rest.cpp
  server/rest/src/example_endpoint.cpp
Due: build-server, build-server:armv7, test-server, lint-server

Use properties in httpclient instead of ctx, add try catch block in mainactivity.
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/HTTPRestClient.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestServiceModule.kt
Due: build-android, test-android

server: use external projects for all submodule
  server/CMakeLists.txt
  server/common/CMakeLists.txt
  server/miner/CMakeLists.txt
  server/rest/CMakeLists.txt
  server/tests/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

server: remove function call for toolchain setup
  server/CMakeLists.txt
  server/cmake/armv7_setup.cmake
Due: build-server, build-server:armv7, test-server, lint-server

server: fix ARMv7 build with external projects
  server/CMakeLists.txt
  server/cmake/armv7_setup.cmake
  server/cmake/armv7_toolchain.cmake
Due: build-server, build-server:armv7, test-server, lint-server

ci: allow ARMv7 build to fail
  .gitlab-ci.yml
Due: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

ci: add rest/miner binaries as artifacts in ARMv7 builds
  .gitlab-ci.yml
Due: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

make it work with android missing user popup
  android/.idea/codeStyles/Project.xml
  android/app/src/main/java/com/example/androidapp/MainActivity.kt
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

finish per user server url
  android/app/src/main/java/com/example/androidapp/MainActivity.kt
Due: build-android, test-android

add deps to lint
  .gitlab-ci.yml
Due: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

remove stages
  .gitlab-ci.yml
Due: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

revert build stages
  .gitlab-ci.yml
Due: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

server/miner: add address/port CLI parameters
  server/miner/CMakeLists.txt
  server/miner/miner.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: make linter shellcheck compliant
  server/lint.sh
  server/miner/miner.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: move external project definitions its own file
  server/CMakeLists.txt
  server/cmake/third_party.cmake
Due: build-server, build-server:armv7, test-server, lint-server

server: remove all submodules
  .gitmodules
Due: none

server: move libjson dependency in common library
  server/common/CMakeLists.txt
  server/rest/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

server: move libgflags dependency in common library
  server/common/CMakeLists.txt
  server/miner/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

server: use external projects properly
  server/CMakeLists.txt
  server/cmake/third_party.cmake
  server/common/CMakeLists.txt
  server/miner/CMakeLists.txt
  server/rest/CMakeLists.txt
  server/tests/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

Login Activity
  android/.idea/codeStyles/Project.xml
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Due: build-android, test-android

WOrking build.gradle
  android/app/build.gradle
Due: build-android, test-android

Side panel with og code
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_side_panel.xml
  android/gradle.properties
Due: build-android, test-android

OMG le side panel fonctionne
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/gallery/GalleryFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/gallery/GalleryViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/home/HomeViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/send/SendFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/send/SendViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/share/ShareFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/share/ShareViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/slideshow/SlideshowFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/slideshow/SlideshowViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/tools/ToolsFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/tools/ToolsViewModel.kt
  android/app/src/main/res/drawable/ic_menu_camera.xml
  android/app/src/main/res/drawable/ic_menu_gallery.xml
  android/app/src/main/res/drawable/ic_menu_manage.xml
  android/app/src/main/res/drawable/ic_menu_send.xml
  android/app/src/main/res/drawable/ic_menu_share.xml
  android/app/src/main/res/drawable/ic_menu_slideshow.xml
  android/app/src/main/res/drawable/side_nav_bar.xml
  android/app/src/main/res/layout/activity_side_panel.xml
  android/app/src/main/res/layout/app_bar_side_panel.xml
  android/app/src/main/res/layout/content_side_panel.xml
  android/app/src/main/res/layout/fragment_gallery.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_send.xml
  android/app/src/main/res/layout/fragment_share.xml
  android/app/src/main/res/layout/fragment_slideshow.xml
  android/app/src/main/res/layout/fragment_tools.xml
  android/app/src/main/res/layout/nav_header_side_panel.xml
  android/app/src/main/res/menu/activity_side_panel_drawer.xml
  android/app/src/main/res/menu/side_panel.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values-v21/styles.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

Main flow
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/home/HomeViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/register/RegisterViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/gallery/GalleryViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/send/SendFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/share/ShareFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/share/ShareViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/ui/slideshow/SlideshowViewModel.kt
  android/app/src/main/res/drawable/ic_cancel_black_24dp.xml
  android/app/src/main/res/drawable/ic_dashboard_black_24dp.xml
  android/app/src/main/res/drawable/ic_group_add_black_24dp.xml
  android/app/src/main/res/drawable/ic_school_black_24dp.xml
  android/app/src/main/res/layout/app_bar_side_panel.xml
  android/app/src/main/res/layout/fragment_register.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/layout/fragment_share.xml
  android/app/src/main/res/layout/fragment_slideshow.xml
  android/app/src/main/res/layout/fragment_tools.xml
  android/app/src/main/res/layout/nav_header_side_panel.xml
  android/app/src/main/res/menu/activity_side_panel_drawer.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android
