Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-scripts, lint-server

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-server:armv7: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-scripts: any of: **/*.sh, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml

server: small fixes
  server/common/include/common/miner_models.hpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server/rest: handle get blocks response in ZMQ worker
  server/rest/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

toto
  desktop/src/main/java/controllers/ChainViewerController.java
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

Fixed downloading pdfs
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/common/include/common/base64.hpp
Due: build-server, build-server:armv7, build-android, test-server, test-android, lint-server

requete server
  desktop/src/main/java/controllers/ChainViewerController.java
Due: build-desktop, test-desktop

set request to set
  server/rest/src/admin_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: fix linting issues
  server/common/include/common/miner_models.hpp
  server/miner/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

start tests.
  server/CMakeLists.txt
  server/tests/database_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

commented the tests and added one test!
  server/CMakeLists.txt
  server/build.sh
  server/cmake/coverage.cmake
  server/tests/CMakeLists.txt
  server/tests/database_test.cpp
Due: build-server, build-server:armv7, test-server, lint-scripts, lint-server

server: fix a small linting issue
  server/miner/src/blockchain-controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

add
  server/tests/database_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: build ARMv7 with static libstdc++ pour vra
  server/cmake/armv7_toolchain.cmake
  server/miner/CMakeLists.txt
  server/rest/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

Un pdf wow
  android/app/build.gradle
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/PDFViewerFragment.kt
  android/app/src/main/res/layout/fragment_detailed_student.xml
  android/app/src/main/res/layout/fragment_pdfviewer.xml
Due: build-android, test-android

ktlint
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/PDFViewerFragment.kt
Due: build-android, test-android

server: change script paths
  server/common/include/common/scripts_helper.hpp
Due: build-server, build-server:armv7, test-server, lint-server

server: add rootCA files into cmake install target
  server/CMakeLists.txt
  server/cert/createCert.sh
Due: build-server, build-server:armv7, test-server, lint-scripts, lint-server

Merci Charles lol
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

server: allow root CA password to be passed
  server/cert/createCert.sh
Due: build-server, build-server:armv7, test-server, lint-scripts, lint-server

server: add systemd environment file to /etc/
  server/CMakeLists.txt
  server/systemd/inf3995-miner.service
  server/systemd/inf3995-rest.service
  server/systemd/inf3995.env
Due: build-server, build-server:armv7, test-server, lint-server

add tests
  server/tests/database_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: create working directory in systemd services
  server/systemd/inf3995-miner.service
  server/systemd/inf3995-rest.service
Due: build-server, build-server:armv7, test-server, lint-server

cout de debug
  server/.vscode/settings.json
  server/common/include/common/miner_models.hpp
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: create working directories in package
  server/package/PKGBUILD
  server/systemd/inf3995-miner.service
  server/systemd/inf3995-rest.service
Due: build-server, build-server:armv7, test-server, lint-server

server: move /etc/inf3995.env to /etc/inf3995.env.example
  server/CMakeLists.txt
  server/systemd/inf3995.env
  server/systemd/inf3995.env.example
Due: build-server, build-server:armv7, test-server, lint-server

ca marche mais cest fked
  server/common/include/common/miner_models.hpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: add archlinux reset script
  server/.gitignore
  server/package/PKGBUILD
  server/package/inf3995-reset.sh
Due: build-server, build-server:armv7, test-server, lint-scripts, lint-server

added a few tests
  server/rest/include/rest/custom_router.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/src/custom_router.cpp
  server/rest/src/main_controller.cpp
  server/tests/CMakeLists.txt
  server/tests/database_test.cpp
  server/tests/file_controller_test.cpp
  server/tests/info_controller_test.cpp
  server/tests/main_controller_test.cpp
  server/tests/rest_utils.hpp
Due: build-server, build-server:armv7, test-server, lint-server

fix?
  server/miner/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

Cute error messages
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/services/Utils.kt
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

ca marche srv
  server/common/include/common/miner_models.hpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

Even MORE input validation
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

fix url
  desktop/src/main/java/controllers/ChainViewerController.java
  desktop/src/main/java/models/BlocksRequest.java
  desktop/src/main/java/models/ChaineRequest.java
  desktop/src/main/java/services/RestService.java
  server/common/include/common/miner_models.hpp
  server/rest/src/admin_controller.cpp
Due: build-server, build-server:armv7, build-desktop, test-server, test-desktop, lint-server

70% yaaas
  server/tests/database_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

added a few tests on admin
  server/common/include/common/base64.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/zmq.cpp
  server/tests/CMakeLists.txt
  server/tests/admin_controller_test.cpp
  server/tests/file_controller_test.cpp
  server/tests/info_controller_test.cpp
  server/tests/rest_utils.hpp
Due: build-server, build-server:armv7, test-server, lint-server

Petit message d'erreur cute
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/res/layout/fragment_course_list.xml
  android/app/src/main/res/layout/fragment_student_list.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

ktlint
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
Due: build-android, test-android

server: re-enable block tests
  server/miner/include/miner/block.hpp
  server/miner/src/block.cpp
  server/tests/CMakeLists.txt
  server/tests/block_test.cpp
  server/tests/data/block/test-load-invalid-block/420
Due: build-server, build-server:armv7, test-server, lint-server

ca marche mais cest laitte
  desktop/src/main/java/controllers/ChainViewerController.java
  desktop/src/main/java/models/Bloc.java
  desktop/src/main/java/models/Block.java
  desktop/src/main/java/models/BlocksRequest.java
  desktop/src/main/java/models/ChainRequest.java
  desktop/src/main/java/models/ChainResponse.java
  desktop/src/main/java/services/RestService.java
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

end tests controller
  server/rest/src/admin_controller.cpp
  server/tests/CMakeLists.txt
  server/tests/admin_controller_test.cpp
  server/tests/ping_controller_test.cpp
  server/tests/transaction_controller_test.cpp
  server/tests/user_controller_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

Added RegisterUser response
  server/common/include/common/database_models.hpp
  server/common/include/common/models.hpp
  server/rest/src/admin_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server
