Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

.gitlab-ci.yml:

image: gpol/inf3995

stages:
    - build
    - test
    - lint

cache:
    paths:
        - server/build
        - desktop/build
        - android/build

################
# Build Stages #
################

build-server:
    stage: build
    before_script:
        - mkdir -p server/build
    script:
        - cd server/build && cmake .. && make
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

build-server:armv7:
    stage: build
    before_script:
        - mkdir -p server/build
    script:
        - cd server/build && cmake .. -DBUILD_ARMV7=on && make
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

build-desktop:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle build
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml

build-android:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle build
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml

###############
# Test Stages #
###############

test-server:
    stage: test
    script:
        - cd server && echo "TODO"
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

test-desktop:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle test
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml

test-android:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle test
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml

###############
# Lint Stages #
###############

lint-server:
    stage: lint
    script:
        - cd server && chmod +x lint.sh && ./lint.sh tidy && ./lint.sh format
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

Fixed lint
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
  android/app/src/main/res/layout/app_bar_side_panel.xml
Due: build-android, test-android

Changed the toolbar button color to white
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/res/values/styles.xml
Due: build-android, test-android

logout method but how to trigger it
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
Due: build-android, test-android

Liste avec des faux eleves
  android/app/build.gradle
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/MyStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentItem.kt
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/layout/fragment_student.xml
  android/app/src/main/res/layout/fragment_student_list.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/dimens.xml
Due: build-android, test-android

Liste detudiants
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
  android/app/src/main/res/layout/fragment_student_list.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

finish android stuff
  android/app/src/main/java/com/example/androidapp/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestServiceModule.kt
Due: build-android, test-android

fix gitignore
  .gitmodules
  android/.gitignore
  android/.idea/codeStyles/Project.xml
  android/.idea/codeStyles/codeStyleConfig.xml
  android/.idea/gradle.xml
  android/.idea/misc.xml
  android/.idea/runConfigurations.xml
  android/.idea/vcs.xml
  android/gradlew
  android/gradlew.bat
  desktop/gradlew
  desktop/gradlew.bat
  server/build.sh
  server/common/CMakeLists.txt
  server/common/include/common/example.hpp
  server/common/src/example.cpp
  server/lint.sh
  server/miner/CMakeLists.txt
  server/miner/miner.cpp
  server/miner/src/example.cpp
  server/rest/CMakeLists.txt
  server/rest/rest.cpp
  server/tests/CMakeLists.txt
  server/tests/example_test.cpp
Due: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

remove unused android stuff
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/res/values/clasbook_background.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/preferences.xml
Due: build-android, test-android

fix comments
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
Due: build-android, test-android

Liste fonctionne
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/MyStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentItem.kt
  android/app/src/main/res/layout/fragment_student.xml
  android/app/src/main/res/layout/fragment_student_list.xml
  android/app/src/main/res/values/colors.xml
Due: build-android, test-android

Fixed ktlint
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
Due: build-android, test-android

ci: add curl in docker image
  docker/Dockerfile
Due: none

init split server in controllers
  server/build.sh
  server/cmake/third_party.cmake
  server/miner/miner.cpp
  server/rest/include/rest/example_controller.hpp
  server/rest/include/rest/example_endpoint.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/rest.cpp
  server/rest/src/example_controller.cpp
  server/rest/src/example_endpoint.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

tmp go back to gab pr
  server/common/src/firebase_helper.cpp
  server/common/src/message_helper.cpp
  server/miner/miner.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

stash
  server/common/include/common/firebase_helper.hpp
  server/common/include/common/message_helper.hpp
Due: build-server, build-server:armv7, test-server, lint-server

Added call to server in home frag
  android/app/src/main/java/com/example/androidapp/ui/fragments/home/HomeFragment.kt
  android/app/src/main/res/layout/fragment_home.xml
Due: build-android, test-android

ktlint
  android/app/src/main/java/com/example/androidapp/ui/fragments/home/HomeFragment.kt
Due: build-android, test-android

Linter
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/MyStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
Due: build-android, test-android

fix and add back firebase in miner
  server/common/include/common/firebase_helper.hpp
  server/miner/CMakeLists.txt
  server/miner/miner.cpp
  server/rest/CMakeLists.txt
Due: build-server, build-server:armv7, test-server, lint-server

make it work with ninja
  server/build.sh
  server/cmake/third_party.cmake
  server/common/src/firebase_helper.cpp
  server/common/src/message_helper.cpp
Due: build-server, build-server:armv7, test-server, lint-server

improve cmake by so much omg
  server/cmake/third_party.cmake
Due: build-server, build-server:armv7, test-server, lint-server

rest working with gflags
  server/rest/CMakeLists.txt
  server/rest/rest.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix warnings
  server/CMakeLists.txt
  server/miner/CMakeLists.txt
  server/rest/include/rest/main_controller.hpp
Due: build-server, build-server:armv7, test-server, lint-server

add namespaces to rest
  server/rest/include/rest/example_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/rest.cpp
  server/rest/src/example_controller.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

add namespace to common
  server/common/include/common/firebase_helper.hpp
  server/common/include/common/message_helper.hpp
  server/miner/miner.cpp
  server/rest/include/rest/example_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/rest.cpp
  server/rest/src/example_controller.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

add another handler to login and add json stuuff
  server/common/include/common/firebase_helper.hpp
  server/common/include/common/models.hpp
  server/rest/include/rest/example_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/src/example_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fin user controller
  server/common/include/common/models.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/src/user_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

almost done
  server/common/include/common/models.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/transaction_controller.hpp
  server/rest/src/main_controller.cpp
  server/rest/src/transaction_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fin transaction controller
  server/common/include/common/models.hpp
  server/rest/src/transaction_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

init info controller
  server/common/include/common/models.hpp
  server/rest/include/rest/info_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/src/info_controller.cpp
  server/rest/src/main_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

finish info controller
  server/common/include/common/models.hpp
  server/rest/include/rest/info_controller.hpp
  server/rest/src/info_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

finish file controller and android to server controllers
  server/common/include/common/models.hpp
  server/rest/include/rest/file_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/src/file_controller.cpp
  server/rest/src/main_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

Rapport semaine 1
  suivi/rapport_semaine1.docx
Due: none

add admin controller
  server/common/include/common/models.hpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/main_controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

Disable ARMv7 build
  .gitlab-ci.yml
Due: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

Student info fragment
  android/.project
  android/.settings/org.eclipse.buildship.core.prefs
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/StudentInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
  android/app/src/main/res/layout/fragment_student_info.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

Ktlint
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentContent.kt
Due: build-android, test-android

ci: add libcurl4-openssl-dev package in docker image
  docker/Dockerfile
Due: none

ci: cache server dependency builds
  .gitlab-ci.yml
Due: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

server: set executable bit in lint.sh
  server/lint.sh
Due: build-server, build-server:armv7, test-server, lint-server
