Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-server:armv7, build-desktop, build-android, test-server, test-desktop, test-android, lint-scripts, lint-server

build-server:
  stage: build
  script:
  - cd server/ && ./build.sh
  artifacts:
    paths:
    - server/build

build-server:armv7:
  stage: build
  before_script:
  - mkdir -p server/build-arm
  script:
  - cd server/build-arm && cmake -GNinja -DBUILD_ARMV7=on .. && ninja -j 2
  artifacts:
    paths:
    - server/build-arm/miner/miner
    - server/build-arm/rest/rest
  allow_failure: true

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build/ && ninja test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-scripts:
  stage: lint
  script:
  - echo "Running shellcheck on the following files:"
  - find . -maxdepth 3 -type f -iname "*.sh"
  - bash -c 'shellcheck --color=always $(find . -maxdepth 3 -type f -iname "*.sh")'

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh --tidy && ./lint.sh --format

mr
  desktop/src/main/java/controllers/ChainViewerController.java
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, build-server:armv7, build-desktop, test-server, test-desktop, lint-server

dsl charles :(
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

add some sutff
  server/common/src/database.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: reset systemd logs
  server/package/inf3995-reset.sh
Due: build-server, build-server:armv7, test-server, lint-scripts, lint-server

server: increase systemd timeout
  server/package/PKGBUILD
  server/systemd/inf3995-rest.service
Due: build-server, build-server:armv7, test-server, lint-server

fix
  server/tests/database_test.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix
  server/common/src/database.cpp
  server/rest/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

frank is cool
  server/miner/src/blockchain-controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix
  server/CMakeLists.txt
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

color
  desktop/src/main/java/controllers/ChainViewerController.java
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

sd
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

fix
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
Due: build-server, build-server:armv7, test-server, lint-server

toto
  desktop/src/main/java/services/RestService.java
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

lol
  server/miner/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

titi
  desktop/src/main/java/controllers/ChainViewerController.java
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

test
  android/app/src/main/res/layout/fragment_course.xml
Due: build-android, test-android

fix
  server/miner/src/zmq.cpp
  server/rest/rest.cpp
  server/rest/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

hack
  desktop/src/main/java/controllers/ChainViewerController.java
  desktop/src/main/java/models/Block.java
Due: build-desktop, test-desktop

fix
  desktop/src/main/java/controllers/ChainViewerController.java
Due: build-desktop, test-desktop

lol
  server/miner/src/zmq.cpp
  server/rest/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

change to prev hash
  server/miner/src/blockchain-controller.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix
  server/common/include/common/miner_models.hpp
  server/miner/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

fix it
  server/miner/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

server: try digestpp hash lib
  server/cmake/third_party.cmake
  server/common/CMakeLists.txt
  server/miner/src/block.cpp
Due: build-server, build-server:armv7, test-server, lint-server

remove col
  desktop/src/main/java/controllers/ChainViewerController.java
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

added blocks
  server/common/include/common/miner_models.hpp
  server/miner/src/zmq.cpp
Due: build-server, build-server:armv7, test-server, lint-server

tto
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/controllers/LogsViewer.java
Due: build-desktop, test-desktop

hash
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

align left
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

mini fix
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

k
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

rapport final
  documentation/RapportFinal.pdf
  documentation/rapportFinal.docx
Due: none

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-server:armv7: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-scripts: any of: **/*.sh, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
